<!-- app/views/shared/_navigation.html.erb -->

<!--<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">LAS AW Study</a>
    </div>
  </div>
</nav>
-->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">LAS AW Study</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Dashboard", controller: :home, action: :welcome%></li>
            <li><%#= link_to "Logout #{@user.mturk_id}", controller: :home, action: :logout%>
              <%= link_to "Logout", controller: :home, action: :logout%></li>
          </ul>

        </div>
      </div>
    </nav>