<h1>Workflow 1 Completion Survey</h1>
<p>Please complete the workflow completion survey by clicking the link below.</p>
  <ul>
    <li><a href="https://docs.google.com/forms/d/1kr5ApRBNPsZmhCLwT22_OmTGYrlT5uu42nKeAsuUq30/viewform" target="_blank">Workflow 1 Completion Survey</a></li>
  </ul>

<p>On completion of the survey, you will receive a completion key. Enter the completion key below and click submit.</p>

<%= form_tag({controller: :home, action: :update_completion_status}, {class: 'form-horizontal'}) do %>
                      <%= hidden_field_tag :task, "untimed_survey"%>
<div class="form-group  has-success">
  <label  class="col-sm-2 control-label">Completion Key</label>
  <div class="col-sm-9">
    <%= text_field_tag :key, nil, class: 'form-control' %>
  </div>
  <%= submit_tag 'Submit', class: 'col-sm-1 btn btn-sm' %>
</div>
<%end%>